<%- include('../partials/header') %>

<th>Favorites:</th>
<table id="favorites">
  <thead>
    <tr>
      <% favorites.forEach(function(favorite) { %>
       <h4><%= favorite.name %></h4>
      <% }); %> 
    </tr>
  </thead>

<%- include('../partials/footer') %>
