* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #0e0f0f;
}

/* HOME */
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 180px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: rgba(250, 250, 250, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40%;

}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: rgba(190, 190, 141, 0.538);
}

/* CAROUSEL IMAGE */
.carousel-item {
  height: 50vh;
}

/* INDIVIDUAL SPOT PAGE  */
#spot-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 216, 145, 0.509);
}

#spot-show > img {
  height: 250px;
  width: 300px;
  padding: 10px 0px 20px 0px;
}


/* LOG-IN */
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
  padding: 0 20px 0 30px;
}

.login img {
  height: 30px;
}

/* LOG-OUT */
.logOut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
  padding: 0 20px 0 30px;
}

/* SPOTS PAGE */
.card-img-top {
  height: 250px;
  width: 290px;
};


/* REVIEWS ON INDIVIDUAL SPOT PAGE*/
#review-section {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}










/* collapsible */
/* 
.northAmerica, .centralAmerica, .southAmerica {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .northAmerica, .centralAmerica, .southAmerica:hover {
  background-color: #ccc;
} */

/* Style the collapsible content. Note: hidden by default */
/* .northAmerica, .centralAmerica, .southAmerica{
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */
