<%- include('../partials/header') %>
 
<section id="show-page">
  <div>Country</div>
  <div><%= country.name %></div>


  <%- include('../partials/footer') %>
















  
  <!-- <form action="/countries/<%= country._id %>" method="POST">
    <label>North America</label><br>
        <select name="northAmerica">
            <option value="Canada">Canada</option>
            <option value="US">US</option>
            <option value="Mexico">Mexico</option>
        </select>
    <label>Central America</label><br>
        <select name="CentralAmerica">
            <option value="Salvador">Salvador</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="CostaRica">Costa Rica</option>
            <option value="Panama">Panama</option>
    </select>
    <label>South America</label><br>
    <select name="SouthAmerica">
        <option value="Brazil">Brazil</option>
        <option value="Argentina">Argentina</option>
        <option value="Chile">Chile</option>
        <option value="Peru">Peru</option>
</select> -->
  
  