<%- include('../partials/header') %>

<form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
  <input name="text" value="<%= review.text %>">
  <button type="submit">Edit</button>
</form>

<%- include('../partials/footer') %>